// Place all the styles related to the play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 710px;
  margin: 0 auto;
  text-align: center;
}

header {
  padding-top: 20px;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

#board {
	width:	162px;
	height: 162px;
	margin: 0 auto;
	border: 2px black solid;
}

label:hover{
	background-color: lightgreen;
}

.row {
	width: 162px;
	height: 54px

}
.row .box {
	width:	50px;
	height: 50px;
	border: 2px black solid;
	color:	black;
	float:	left;
	font-size:	30px;
	line-height: 50px;
	padding: 0;
	margin: 0;
}

.row .box label {
	color:	black;
	display: block;
	width:	50px;
	height:	50px;
	text-align: center;
	top: 0;
}

.row .box label input{
	position: absolute;
	clip: rect(0,0,0,0);
}